backend/auth-server/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
backend/auth-server/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
.idea/**

backend/auth-dao/target/**
backend/auth-server/target/**
